<!doctype html>
<html> 

{% include "part_header.html" %}

<body>
<!-- Main container -->
<div class="page-container">

{% include "part_nav.html" %}

<!-- bloc-2 -->
<div class="bloc l-bloc " id="bloc-2">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12">




<h3 class="mg-md" id="analysis">
Notice
</h3>

<p>
You browser is not supported, please use IE 10+, Chrome or Firefox.
</p>




            </div>
        </div>
    </div>
</div>
<!-- bloc-2 END -->

{% include "part_footer.html" %}

</div>
<!-- Main container END -->

</body>
</html>

