<h3 class="mg-md">
SMB2 SRT
</h3>

<table class="table table-striped">

<thead>
<tr>

    <th>Commands</th>
    <th>Calls</th>
    <th>Max SRT (s)</th>
    <th>Avg SRT (s)</th>
    
</tr>    
</thead>

<tbody>
<tr>
    
    <td>Read</td>
    <td>{{smb2['readsrt']['f']}}</td>
    <td>{{smb2['readsrt']['max']}}</td>
    <td>{{smb2['readsrt']['avg']}}</td>
    
</tr>

<tr>
    
    <td>Write</td>
    <td>{{smb2['writesrt']['f']}}</td>
    <td>{{smb2['writesrt']['max']}}</td>
    <td>{{smb2['writesrt']['avg']}}</td>
    
</tr>

</tbody>
</table>

<div class="divider-h">
<span class="divider"></span>
</div>

<h3 class="mg-md">
SMB2 IO Size
</h3>

<p>
There were 
{{smb2['read']['f']}}
read operations with average size 
{{smb2['read']['avg']}}
bytes, and
{{smb2['write']['f']}}
write operations with average size
{{smb2['write']['avg']}}
bytes.
</p>
<div class="divider-h">
<span class="divider"></span>
</div>